<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list lines="full">
    <ion-item
      button
      (click)="createTransaction(product)"
      *ngFor="let product of products; let i=index"
    >
      <ion-label>
        <h2>{{product.name}}</h2>
        <h3>{{product.number}}</h3>
        <p>{{product.created_at}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
